{% extends "base.html" %}
{% load mstag %}

{% block page_title %}Ethiopian Soil Tracking System{% endblock %}
{% block extra_head %}<link rel="stylesheet" href="{{ STATIC_URL }}css/soiltrack.css" type="text/css" media="screen,projection" />
<script src="{{ STATIC_URL }}soiltrack.js"></script>{% endblock %}
{% block end_js_call %}addJQ_find_sample();{% endblock %}
{% block content %}

<div class="row-fluid">

    <h2>Progress Overview</h2>
<div class="span5">

    <table class="table table-striped hometable">
        <tr><th>Samples Scanned at Point of Collection<br />
        <div class="progress progress-striped progress-info "><div class="bar" style="width: {{ pc_collected|percent_raw }}%;"></div></div>
        </th><td class="samplenb">{{ nb_collected|numberformat }}</td></tr>
        <tr><th>Samples Received at a Processing Center<br />
        <div class="progress progress-striped progress-info "><div class="bar" style="width: {{ pc_received|percent_raw }}%;">{{ pc_received|percent }}</div></div>
        </th><td class="samplenb">{{ nb_received|numberformat }}/<em>{{ nb_collected|numberformat }}</em></td></tr>
        <tr><th>Top/Sub Samples Shipped from Processing Center<br />
        <div class="progress progress-striped progress-success"><div class="bar" style="width: {{ pc_processed|percent_raw }}%;">{{ pc_processed|percent }}</div></div>
        </th><td class="samplenb">{{ nb_processed|numberformat }}/<em>{{ nb_processing }}</em></td></tr>
        <tr><th>Samples Sent To Archive.<br />
        <div class="progress progress-striped progress-warning"><div class="bar" style="width: {{ pc_analyzed|percent_raw }}%;">{{ pc_analyzed|percent }}</div></div>
        </th><td class="samplenb">{{ nb_analyzed|numberformat }}/<em>{{ nb_analyzing }}</em></td></tr>
<!--         <tr><th>Lost or Missing Samples<br />
        <div class="progress progress-striped progress-danger"><div class="bar" style="width: {{ pc_lost|percent_raw }}%;">{{ pc_lost|percent }}</div></div>
        </th><td class="samplenb">{{ nb_lost|numberformat }}</td></tr> -->
    </table>

    <h2>Find a Sample</h2>
    <form class="form-search form-inline" method="get" action="{% url sample_detail %}">
    <input type="text" class="input-medium search-query" placeholder="Sample SSID" name="sid"> or
    <input type="text" class="input-medium search-query" placeholder="Plot Number" name="plot_id">
    <button type="submit" class="btn" id="find-btn">Find</button>
    </form>

    <h2>Change Missing Trigger</h2>
    <form class="form-search form-inline" method="get" action="{% url home %}">
    <input type="text" class="input-medium search-query" placeholder="Number of days" value="{{ ests_missing_trigger }}" name="trigger">
    <button type="submit" class="btn" id="find-btn">Set New Value</button>
    </form>

</div>

<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
        <li class="nav-header">Latest events</li>
        {% for event in last_events %}
        <li><a href="{% url sample_detail %}?sid={{ event.sample_id }}"><strong>{{ event.ident }}</strong> {% include "status.html" with status=event.status payload=event.status_date %}</a></li>
        {% endfor %}
        <li class="nav-header">NB OF SUBMISSIONS: {{ nb_submissions|NAdefault|numberformat }}</li>
        <li class="nav-header">NB OF PLOTS: {{ nb_plots|NAdefault|numberformat }}</li>
        </ul>
    </div>
</div>

<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
        <li class="nav-header">Processing Centers</li>
        {% for pc, missing in missings.items %}
        <li><a href="{% url pc pc_slug=pc %}"><strong>{{ pc|KeyName:"soiltrack|options"|default:"Other" }} / {{missing}}</a></li>
        {% endfor %}
        <li class="nav-header">NSTC Lab</li>
        <li><a href="{% url nstc %}"><strong>NSTC Lab</a></li>
        <li class="nav-header">Confluence Points</li>
        {% for cp in confluence_points %}
        <li><a href="{% url cp cp=cp %}"><strong>{{ cp }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}