{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Generated IDs{% endblock %}

{% block extra_head %}<link rel="stylesheet" href="{{ STATIC_URL }}css/soiltrack.css" type="text/css" media="screen,projection" />{% endblock %}

{% block bodyclass %}idgen{% endblock %}

{% block content %}
<h1>{% trans "Generated IDs &amp; Codes" %}</h1>
<p class="notice">{% trans "Use the print function of your Web browser." %}</p>

{% if generated_ids %}

{% for id in generated_ids %}
<p>
    <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   version="1.1"
   width="607.54224"
   height="282.92038"
   id="svg2">
  <defs
     id="defs4" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     transform="translate(-7.0013182,-763.1066)"
     id="layer2"
     style="display:inline">
    <rect
       width="603.1864"
       height="277.74496"
       x="9.8571434"
       y="765.79077"
       id="rect3072"
       style="fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <path
       d="m 363.49789,764.60449 0.71428,279.92461"
       id="path3842"
       style="fill:none;stroke:#00000f;stroke-width:2.99577713;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:0.94117647;stroke-dasharray:none" />
    <path
       d="m 8.4105403,847.29331 354.1815597,0"
       id="path3844"
       style="fill:none;stroke:#00000f;stroke-width:2.81844425;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:0.94117647;stroke-dasharray:none" />
    <path
       d="m 8.4105403,921.10299 354.1815597,0"
       id="path3844-1"
       style="fill:none;stroke:#00000f;stroke-width:2.81844425;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:0.94117647;stroke-dasharray:none" />
    <text
       x="44.931484"
       y="879.6261"
       id="text3864"
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"><tspan
         x="44.931484"
         y="879.6261"
         id="tspan3866"
         style="font-size:24px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:DejaVu Sans;-inkscape-font-specification:DejaVu Sans Bold">Top</tspan></text>
    <text
       x="160.71716"
       y="879.63696"
       id="text3864-2"
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"><tspan
         x="160.71716"
         y="879.63696"
         id="tspan3866-9"
         style="font-size:24px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:DejaVu Sans;-inkscape-font-specification:DejaVu Sans Bold">Sub</tspan></text>
    <text
       x="42.003925"
       y="949.47705"
       id="text3864-8"
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"><tspan
         x="42.003925"
         y="949.47705"
         id="tspan3866-7"
         style="font-size:24px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:DejaVu Sans;-inkscape-font-specification:DejaVu Sans Bold">0-20</tspan></text>
    <text
       x="164.34157"
       y="949.3197"
       id="text3864-6"
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"><tspan
         x="164.34157"
         y="949.3197"
         id="tspan3866-1"
         style="font-size:24px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:DejaVu Sans;-inkscape-font-specification:DejaVu Sans Bold">20-40</tspan></text>
    <text
       x="283.95322"
       y="949.75623"
       id="text3864-4"
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"><tspan
         x="283.95322"
         y="949.75623"
         id="tspan3866-11"
         style="font-size:24px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:DejaVu Sans;-inkscape-font-specification:DejaVu Sans Bold">40-60</tspan></text>
    <text
       x="43.709549"
       y="1020.5355"
       id="text3864-27"
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"><tspan
         x="43.709549"
         y="1020.5355"
         id="tspan3925"
         style="font-size:24px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:DejaVu Sans;-inkscape-font-specification:DejaVu Sans Bold">60-80</tspan></text>
    <text
       x="164.2578"
       y="1021.4238"
       id="text3864-80"
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"><tspan
         x="164.2578"
         y="1021.4238"
         id="tspan3866-4"
         style="font-size:24px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:DejaVu Sans;-inkscape-font-specification:DejaVu Sans Bold">80-100</tspan></text>
    <g
       transform="translate(-0.49999917,1.878213)"
       id="g3976">
      <rect
         width="21.091232"
         height="22.09123"
         x="18.454384"
         y="856.93835"
         id="rect3938-2"
         style="fill:none;stroke:#b3b3b3;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
      <rect
         width="21.091232"
         height="22.09123"
         x="17.954384"
         y="856.31659"
         id="rect3938"
         style="fill:none;stroke:#000000;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
    </g>
    <g
       transform="translate(118.5,1.878213)"
       id="g3976-2"
       style="display:inline">
      <rect
         width="21.091232"
         height="22.09123"
         x="18.454384"
         y="856.93835"
         id="rect3938-2-7"
         style="fill:none;stroke:#b3b3b3;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
      <rect
         width="21.091232"
         height="22.09123"
         x="17.954384"
         y="856.31659"
         id="rect3938-7"
         style="fill:none;stroke:#000000;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
    </g>
    <g
       transform="translate(-0.49999917,71.878213)"
       id="g3976-0"
       style="display:inline">
      <rect
         width="21.091232"
         height="22.09123"
         x="18.454384"
         y="856.93835"
         id="rect3938-2-1"
         style="fill:none;stroke:#b3b3b3;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
      <rect
         width="21.091232"
         height="22.09123"
         x="17.954384"
         y="856.31659"
         id="rect3938-5"
         style="fill:none;stroke:#000000;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
    </g>
    <g
       transform="translate(-0.49999917,142.87821)"
       id="g3976-02"
       style="display:inline">
      <rect
         width="21.091232"
         height="22.09123"
         x="18.454384"
         y="856.93835"
         id="rect3938-2-79"
         style="fill:none;stroke:#b3b3b3;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
      <rect
         width="21.091232"
         height="22.09123"
         x="17.954384"
         y="856.31659"
         id="rect3938-1"
         style="fill:none;stroke:#000000;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
    </g>
    <g
       transform="translate(121.5,71.878213)"
       id="g3976-7"
       style="display:inline">
      <rect
         width="21.091232"
         height="22.09123"
         x="18.454384"
         y="856.93835"
         id="rect3938-2-3"
         style="fill:none;stroke:#b3b3b3;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
      <rect
         width="21.091232"
         height="22.09123"
         x="17.954384"
         y="856.31659"
         id="rect3938-9"
         style="fill:none;stroke:#000000;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
    </g>
    <g
       transform="translate(121.5,142.87821)"
       id="g3976-77"
       style="display:inline">
      <rect
         width="21.091232"
         height="22.09123"
         x="18.454384"
         y="856.93835"
         id="rect3938-2-8"
         style="fill:none;stroke:#b3b3b3;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
      <rect
         width="21.091232"
         height="22.09123"
         x="17.954384"
         y="856.31659"
         id="rect3938-76"
         style="fill:none;stroke:#000000;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
    </g>
    <g
       transform="translate(242.5,71.878213)"
       id="g3976-78"
       style="display:inline">
      <rect
         width="21.091232"
         height="22.09123"
         x="18.454384"
         y="856.93835"
         id="rect3938-2-2"
         style="fill:none;stroke:#b3b3b3;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
      <rect
         width="21.091232"
         height="22.09123"
         x="17.954384"
         y="856.31659"
         id="rect3938-8"
         style="fill:none;stroke:#000000;stroke-width:0.90876937;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline" />
    </g>
    <text
       x="367.5"
       y="1034.8622"
       id="text4181"
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"><tspan
         x="367.5"
         y="1034.8622"
         id="tspan4183"
         style="font-size:16px">{{ id.0 }}</tspan></text>
    <path
       d="m 24.5,820.86218 67.882251,0"
       id="path4187"
       style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       d="m 101.53884,820.82334 78.8386,0"
       id="path4187-5"
       style="fill:none;stroke:#000000;stroke-width:1.07768369px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;display:inline" />
    <path
       d="m 187.53914,820.86218 77.92171,0"
       id="path4187-0"
       style="fill:none;stroke:#000000;stroke-width:1.07139885px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;display:inline" />
    <path
       d="m 274.54253,820.82648 78.91499,0"
       id="path4187-0-0"
       style="fill:none;stroke:#000000;stroke-width:1.07820594px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;display:inline" />
    <text
       x="18.384775"
       y="787.78296"
       id="text4232"
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"><tspan
         x="18.384775"
         y="787.78296"
         id="tspan4234"
         style="font-size:20px;font-weight:bold;-inkscape-font-specification:Sans Bold">Plot ID:</tspan></text>
    <rect
       width="4"
       height="4"
       x="94"
       y="814.36218"
       id="rect4236"
       style="fill:#000000;stroke:none" />
    <rect
       width="4"
       height="4"
       x="181"
       y="814.36218"
       id="rect4236-0"
       style="fill:#000000;stroke:none;display:inline" />
    <rect
       width="4"
       height="4"
       x="268"
       y="814.36218"
       id="rect4236-03"
       style="fill:#000000;stroke:none;display:inline" />
    <text
       x="24.748737"
       y="834.22058"
       id="text4263"
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"><tspan
         x="24.748737"
         y="834.22058"
         id="tspan4265"
         style="font-size:10px">Site#</tspan></text>
    <text
       x="105.70325"
       y="833.07312"
       id="text4263-6"
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;display:inline;font-family:Sans"><tspan
         x="105.70325"
         y="833.07312"
         id="tspan4265-2"
         style="font-size:10px">Quadrant</tspan></text>
    <text
       x="192.56647"
       y="834.22058"
       id="text4263-4"
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;display:inline;font-family:Sans"><tspan
         x="192.56647"
         y="834.22058"
         id="tspan4265-8"
         style="font-size:10px">Cluster</tspan></text>
    <text
       x="278.85431"
       y="834.22058"
       id="text4263-5"
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;display:inline;font-family:Sans"><tspan
         x="278.85431"
         y="834.22058"
         id="tspan4265-3"
         style="font-size:10px">Plot</tspan></text>
    <image
       xlink:href="data:image/png;base64,{{ id.1 }}
"
       x="374.83392"
       y="782.41327"
       width="226"
       height="226"
       alt="{{ id.0 }}"
       title="{{ id.0 }}"
       id="image5112" />
  </g>
</svg>
</p>
{% endfor %}
{% else %}
<p>{% trans "No IDs generated." %}</p>
{% endif %}

{% endblock %}