{% extends "base.html" %}
{% load mstag %}

{% block page_title %}{{ sample.plot_ident }} / {{ sample_id }}{% endblock %}

{% block content %}

<h1>Sample {{ sample_id }}</h1>

<table class="table table-striped">
<tr><th>SSID</th><td>{{ sample.sample_id }}</td></tr>
<tr><th>ID</th><td>{{ sample.ident }}</td></tr>
<tr><th>Depth</th><td>{{ sample.depth }}</td></tr>
<tr><th>Confluence Point</th><td>{{ sample.data.cp_num }}</td></tr>
<tr><th>Status</th><td>{% include "status.html" with status=sample.status payload=sample.status_date %}</td></tr>
</table>
<h2>History</h2>
<table class="table table-striped">
<tr><th>Event</th><th>Author</th><th>Date</th><th>Delay</th><th>P.C</th></tr>
<tr>
    <td>{% include "status.html" with status=0 %}</td>
    <td>{{ sample.data.name }}</td>
    <td>{{ sample.data.end }}</td>
    <td>n/a</td>
    <td>n/a</td>
{% for status, event in sample.events.items %}
{% if event %}
<tr>
    <td>{% include "status.html" with status=event.status %}</td>
    <td>{{ event.name }}</td>
    <td>{{ event.survey_day }}</td>
    <td>{{ event.delay|default_if_none:"n/a" }}</td>
    <td>{{ event.pc_name|KeyName:"soiltrack|options"|default:"n/a" }}</td>
{% endif %}
{% endfor %}
</table>

<h2>Plot {{ sample.plot_ident }}</h2>
<table class="table table-striped">
<th>GPS Coordinates</th><td><a href="http://maps.google.com/?q={{ sample.gps.latitude }},{{ sample.gps.longitude }}">Google Maps</a></br />
Latitude: {{ sample.gps.latitude }}<br />
Longitude: {{ sample.gps.longitude }}<br />
Altitude: {{ sample.gps.altitude }}<br />
Precision: {{ sample.gps.precision }}
</td></tr>
<th>Top</th><td><a href="{% url sample_detail %}?sid={{ sample.sibling_top_qr }}">{{ sample.sibling_top_qr }}</a></td></tr>
<th>0-20</th><td><a href="{% url sample_detail %}?sid={{ sample.sibling_sub_qr }}">{{ sample.sibling_sub_qr }}</a></td></tr>
<th>20-40</th><td><a href="{% url sample_detail %}?sid={{ sample.sibling_qr_20_40 }}">{{ sample.sibling_qr_20_40 }}</a></td></tr>
<th>40-60</th><td><a href="{% url sample_detail %}?sid={{ sample.sibling_qr_40_60 }}">{{ sample.sibling_qr_40_60 }}</a></td></tr>
<th>60-80</th><td><a href="{% url sample_detail %}?sid={{ sample.sibling_qr_60_80 }}">{{ sample.sibling_qr_60_80 }}</a></td></tr>
<th>80-100</th><td><a href="{% url sample_detail %}?sid={{ sample.sibling_qr_80_100 }}">{{ sample.sibling_qr_80_100 }}</a></td></tr>
<th>Collecter</th><td>{{ sample.data.name }}</td></tr>
</table>

<h2>Raw Plot Data</h2>

<table class="table table-striped">
{% for key, value in sample.data.items %}
<tr><th>{{ key }}</th><td>{{ value }}</tr>
{% endfor %}
</table>

{% endblock %}