{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Options Management{% endblock %}

{% block content %}
<h1>{% trans "Options" %}</h1>
<p>{% blocktrans %}The following options are site-wide and impacts the behavior of the website.<br />
    Be careful in modifying them because you can break the website but <strong>no harm can be made to the data</strong> itself.{% endblocktrans %}</p>

<form action="{% url options %}" method="post" class="well">
{% csrf_token %}
<table class="table table-striped table-bordered table-condensed">
<thead>
    <tr><th>{% trans "Name" %}</th><th>{% trans "Value" %}</th></tr>
</thead>
<tbody>
{% for form in forms %}
<tr><td>{{ form.name.value }}
    <input type="hidden" name="{{ form.key.value }}-project" value="{{ form.project.value }}" />
    <input type="hidden" name="{{ form.key.value }}-key" value="{{ form.key.value }}" />
    <input type="hidden" name="{{ form.key.value }}-name" value="{{ form.name.value }}" />
    </td><td{% if form.errors.json_value %} class="alert alert-error"{% endif %}>{{ form.json_value }}
{% if form.errors.json_value %}{% for error in form.errors.json_value %}{{ error }}<br />{% endfor %}</p>{% endif %}</td></tr>
{% endfor %}
</tbody>
</table>
<input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary" /> <input type="reset" value="{% trans 'Reset' %}" class="btn" />
</form>

{% endblock %}