

body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* IDgen specifics */
body.idgen * th.qrcol {
    width: 150px;
}

.female-color {
    color: purple;
}

.male-color {
    color: blue;
}