
body {
  background: white;
  font-size: 12pt;
  }

#menu, div.navbar {
  display: none;
  }

#content {
  width: auto;
  margin: 0 5%;
  padding: 0;
  border: 0;
  float: none !important;
  color: black;
  background: transparent none;
  }

div#content {
  margin-left: 10%;
  padding-top: 1em;
  border-top: 1px solid #930;
  }

a:link, a:visited {
  color: #520;
  background: transparent;
  font-weight: bold;
  text-decoration: underline;
  }

#content a:link:after, #content a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
  }

#content a[href^="/"]:after {
  content: " (http://literacy.formhub.org" attr(href) ") ";
  }

/* IDgen specifics */
body.idgen * h1, body.idgen * p.notice {
    display: none;
}

body.idgen * th.qrcol {
    width: 150px;
}

body.idgen * table {
    width: 100%;
}

body.idgen * td {
    vertical-align: top;
    border: 1px solid black;
}

body.idgen * thead {
    display: none;
}