{% extends "base.html" %}

{% block pageclass %}regular{% endblock %}

{% block page_title %}Sample {{ sample.single_letter|upper }} - SoilDoc{% endblock %}

{% block jquery_load %}
$(".raw_data_btn").click(function () {
   $("#raw_data").slideToggle(); 
});
{% endblock %}

{% block topmenu %}
<div class='header'>Sample {{ sample.single_letter|upper }} <span class='sep'>/</span> {{ sample.sample_id_sample_barcode_id }}</div>
{% endblock %}

{% block content %}

<dl>
    <dt>Collected on</dt>
    <dd>{{ sample.today }}</dd>
    <dt>Location</dt>
    <dd>{% include "gps_link.html" with sample=sample %}</dd>
    <dt>Famer Name</dt>
    <dd>{{ sample.farmer_name|default:"n/a" }}</dd>
</dl>

<h3>Soil Properties</h3>
<table class="table table-striped sample-results">
<tr><td>pH (H<sub>2</sub>O)</td><td class='result_value'>{{ sample.ph_water_group_ph_water }}</td><td class='result_indic'><span class="badge badge-success">GOOD</span></td></tr>
<tr><td>EC</td><td class='result_value'>{{ sample.ec_group_ec }}</td><td class='result_indic'><span class="badge badge-success">GOOD</span></td></tr>
<tr><td>Soluble Salts</td><td class='result_value'></td><td class='result_indic'><span class="badge badge-success">GOOD</span></td></tr>
<tr><td>pH (CaCl<sub>2</sub>)</td><td class='result_value'>{{ sample.ph_cacl_ph_cacl2_sample }}</td><td class='result_indic'><span class="badge badge-warning">LOW</span></td></tr>
<tr><td>pH (CaCl<sub>2</sub>) Δ</td><td class='result_value'></td><td class='result_indic'><span class="badge badge-warning">LOW</span></td></tr>
<tr><td>Nitrate-Nitrogen Reading</td><td class='result_value'>{{ sample.nitrate_group_nitrate }}</td><td class='result_indic'><span class="badge badge-warning">LOW</span></td></tr>
<tr><td>Available Soil Nitrogen</td><td class='result_value'></td><td class='result_indic'><span class="badge badge-warning">LOW</span></td></tr>
<tr><td>Potassium-Nitrogen Reading</td><td class='result_value'>{{ sample.potassium_potassium_sample }}</td><td class='result_indic'><span class="badge badge-warning">LOW</span></td></tr>
<tr><td>Available Potassium Nitrogen</td><td class='result_value'></td><td class='result_indic'><span class="badge badge-warning">LOW</span></td></tr>
<tr><td>Phosphorus ULR Reading</td><td class='result_value'>{{ sample.phosphorus_ppb_meter_group_phosphorus_ppb_meter }}</td><td class='result_indic'><span class="badge badge-warning">LOW</span></td></tr>
<tr><td>Phosphorus LR Reading</td><td class='result_value'>{{ sample.phosphorus_ppm_meter_group_phosphorus_ppm_meter }}</td><td class='result_indic'><span class="badge badge-warning">LOW</span></td></tr>
<tr><td>Available Soil Phosphorus</td><td class='result_value'></td><td class='result_indic'><span class="badge badge-warning">LOW</span></td></tr>
<tr><td>Soil Extract in S Vial</td><td class='result_value'>{{ sample.sulfur_analysis_sulfur_analysis_vial_extract }}</td><td class='result_indic'><span class="badge badge-warning">LOW</span></td></tr>
<tr><td>Water in S Vial</td><td class='result_value'>{{ sample.sulfur_analysis_sulfur_analysis_vial_water }}<br />
s_ppb<br />
s_ppm</td><td class='result_indic'><span class="badge badge-warning">LOW</span></td></tr>
<tr><td>Available Soil Sulfur</td><td class='result_value'>{{ sample.sulfur_analysis_sulfur_analysis_vial_extract }}<br />
{{ sample.sulfur_ppm_meter_group_sulfur_ppm_meter }}<br />
{{ sample.sulfur_ppb_meter_group_sulfur_ppb_meter }}<br />
s_ppb<br/>
s_ppm</td><td class='result_indic'><span class="badge badge-warning">LOW</span></td></tr>
</table>

<h3>Soil Fertility Recommendations</h3>
<ul id="recommendations">
    <li>Raise Nitrogen levels
        <p>Use a tuba and a spoon with sugar on the soil</p></li>
    <li>Raise Potassium levels
        <p>Rince with folic acid every morning at 5am.</p></li>
</ul>

<button class="btn btn-large btn-block raw_data_btn" type="button">Toggle Raw Input Data</button>

<div id="raw_data">
<h3>Raw Input Data</h3>
<table class="table table-striped">
{% for field_name, field_value in sample.items %}
<tr><th class="word-wrap">{{ field_name }}</th><td>{{ field_value }}</td></tr>
{% endfor %}
</table>
</div>
{% endblock %}