{% extends "base.html" %}
{% load mstag %}

{% block pageclass %}regular{% endblock %}

{% block page_title %}Sample {{ sample.single_letter|upper }} - SoilDoc{% endblock %}

{% block jquery_load %}
$(".raw_data_btn").click(function () {
   $("#raw_data").slideToggle(); 
});
$(".result-row").click(function () {
    var txt = $(this).attr('level_text_verbose');
    if (txt == undefined || txt.length == 0)
        return false;

    if ($(this).next().hasClass('result-detail')) {
        $(this).next().remove();
        return false;
    }

    var new_row = $("<tr class='result-detail'><td colspan='3'>" + txt + "</td></tr>");
    new_row.insertAfter($(this));

    $("tr.result-detail").click(function () {
        $(this).remove();
    });
});
$("tr.result-detail").click(function () {
    $(this).remove();
});
{% endblock %}

{% block topmenu %}
<div class='header'>Sample {{ sample.single_letter|upper }} <span class='sep'>/</span> {{ sample.sample_id_sample_barcode_id }}</div>
{% endblock %}

{% block content %}
{% if sample.sample_id_sample_field_photo %}
<div class='sample-pic'><img class='img-rounded' src="https://formhub.org/attachment/?media_file=labinabox/attachments/{{ sample.sample_id_sample_field_photo }}&" /></div>
{% endif %}

<table class="sample-meta-data">
    <tr><th>Collected on</th>
    <td>{{ sample.today }}</td></tr>
    <tr><th>Location</th>
    <td>{% include "gps_link.html" with sample=sample %}</td></tr>
    <tr><th>Famer Name</th>
    <td>{{ sample.sample_id_sample_farmer_name|default:"n/a" }}</td></tr>
    {% if sample.sample_id_sample_farmer_id %}
    <tr><th>Famer ID</th>
    <td>{{ sample.sample_id_sample_farmer_id|default:"n/a" }}</td></tr>
    {% endif %}
    {% if sample.sample_id_sample_reason_sampling %}
    <tr><th>Sampling Reason</th>
    <td>{{ sample.sample_id_sample_reason_sampling|default:"n/a" }}</td></tr>
    {% endif %}
    {% if sample.sample_id_sample_soil_texture %}
    <tr><th>Soil Texture</th>
    <td>{{ sample.sample_id_sample_soil_texture|KeyName:"soildoc|soil_textures"|default:"n/a" }}</td></tr>
    {% endif %}
    {% if sample.sample_id_sample_soil_moisture %}
    <tr><th>Soil Moisture</th>
    <td>{{ sample.sample_id_sample_soil_moisture|KeyName:"soildoc|soil_moisture"|default:"n/a" }}</td></tr>
    {% endif %}
    {% if sample.sample_id_sample_crop %}
    <tr><th>Soil Main Crop</th>
    <td>{{ sample.sample_id_sample_crop|default:"n/a" }}</td></tr>
    {% endif %}
</table>

<h3>Soil Properties</h3>
<table class="table table-striped sample-results">
{% for result_id, result in results.iteritems %}
<tr class='result-row' {% if result.level_text_verbose %}level_text_verbose="{{ result.level_text_verbose }}"{% endif %}><td>{{ result.name }}</td><td class='result_value'>{{ result.value|default_if_none:"n/a"|numberformat }}</td><td class='result_indic'>{% if result.badge %}<span class="badge badge-{{ result.badge }}">{{ result.level_text|upper }}</span>{% endif %}</td></tr>
{% endfor %}

</table>

<h3>Soil Fertility Recommendations</h3>
<ul id="recommendations">
    {% for result in results.itervalues %}
    {% if result.level_text_verbose %}
    <li>{{ result.name }}
        <p>{{ result.level_text_verbose }}</p></li>
    {% endif %}
    {% endfor %}
</ul>

<button class="btn btn-large btn-block raw_data_btn" type="button">Toggle Raw Input Data</button>

<div id="raw_data">
<h3>Raw Input Data</h3>
<table class="table table-striped">
{% for field_name, field_value in sample.items %}
<tr><th class="word-wrap">{{ field_name|split:"_"|join:"-" }}</th><td>{{ field_value }}</td></tr>
{% endfor %}
</table>
</div>
{% endblock %}