{% extends "base.html" %}
{% load i18n %}
{% load mstag %}

{% block page_title %}{{ teacher.tchr_name }}{% endblock %}

{% block content %}
<h1>{{ teacher.tchr_name }}</h1>
<p><a href="{% url teacher_card teacher.uid_ %}">Reprint Teacher's card</a></p>

<h2>Reading Capabilities</h2>
{% include 'reading_numeracy_table.html' with reports=reading_reports %}

<h2>Numeracy Capabilities</h2>
{% include 'reading_numeracy_table.html' with reports=numeracy_reports %}

<h2>Comments</h2>
<p>
    <br />
    <br />
    <br />
    <br />
</p>

<h2>Recomendations</h2>
<p>
    <br />
    <br />
    <br />
    <br />
</p>


{% endblock %}
