{% extends "base.html" %}
{% load i18n %}
{% load mstag %}

{% block page_title %}List of registered teachers{% endblock %}

{% block content %}
<h1>List of registered teachers, sorted by Name</h1>
<table class="table table-striped table-bordered table-condensed">
<thead>
    <tr><th>Name</th><th>School</th><th>Short ID</th></tr>
</thead>
<tbody>
{% for teacher in teachers %}
<tr><td><a href="{% url teacher teacher.uid_ teacher.short_id_ %}">{{ teacher.tchr_name|upper }}</a></td><td>{{ teacher.school|KeyName:keycat }}</td><td>{{ teacher.short_id_|NAdefault }}</td></tr>
{% endfor %}
</tbody>
</table>

{% include 'pagination.html' with paginator=teachers %}

{% endblock %}